/* SHARED */
body
{
	min-width: 995px;
}

.more-link { display: block; }

ul#breadcrumb
{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#breadcrumb li
{
	display: inline-block;
	margin: 0 5px 0 0;
}

.paging .page-numbers
{
	margin: 0px 2px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}

.paging .current,
.paging .page-numbers:hover
{
	border: 1px solid #859e0f;
	color: #fff;
	background-color: #95b50a;
}

.paging .dots
{
	margin: 0px;
	padding: 0px;
	border: none;
}

.paging .dots:hover
{
	border: none;
	color: inherit;
	background-color: #fff;
}

.sprite
{
	position: absolute;
	top: 0;
	left: 0;
}

img.thumbnail
{
	float: left;
	margin-right: 10px;
}

span.separator
{
	margin: 0px 5px;
}


/* WP POST/PAGE STYLES */

article h1
{
	font-family: font-body;
	font-size: 24px;
	font-weight: bold;
	color: #036;
	line-height: 40px;
}

article h2
{
	margin-bottom: 5px;
	margin-top: 20px;
	font-size: 17px;
	color: #036;
}

article h3
{
	color: #036;
	font-weight: bold;
	line-height: 26px;
}

article hr
{
	margin-top: 40px;
	margin-bottom: 50px;
}

article ul,
article ol
{
	margin: 0 0 10px;
	padding-left: 1em;
	list-style-position: inside;
}

article ul
{
	list-style-type: disc;
}

article ol
{
	list-style-type: decimal;
}

article li
{
	padding-left: 10px;
	text-indent: -1.1em;
	padding-bottom: 2px;
}

article .quote {
	margin-bottom: 10px;
	background-color: #f0f7fc;
	border: 1px solid #d1e0ea;
	padding: 5px 10px 5px 10px;
}

img.alignleft {float: left; margin: 0 1em 1em 0;}
img.alignright {float: right; margin: 0 0 1em 1em;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto;}


/* CUSTOM GOOGLE SEARCH */

div#searchbox-general
{
	width: 200px;
}

div#searchbox-news
{
	width: 100%;
}

.gsc-control-cse
{
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
}

.gsc-results-wrapper-visible
{
	margin-bottom: 20px;
	padding: 20px 40px !important;
	border: 1px solid #DADADA;
	border-radius: 5px !important;
	background-color: #fff !important;
}

.gsc-input
{
	padding-right: 0px !important;
}

input.gsc-input
{
	padding-left: 20px !important;
	width: 90% !important;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/icon_search.png') no-repeat scroll left 2px !important;
}

input.gsc-input:focus
{
	width: 90% !important;
	font-size: 16px !important;
}

.gsc-search-button
{
	display: none;
}


/* CONSOLE PAGE (logged-in) */

div#console
{
	position: relative;
	display: none;
}

div#profile-background {
	background-color: #E2F0F4;
	position: absolute;
	left: 310px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	opacity: 0.92;
	filter: alpha(opacity=92);
}

div#profile-left-sidebar
{
	position: relative;
	top: -101px;
	margin: 0 auto;
	max-width: 315px;
}

div#carouselAvatar
{
	height: 209px;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/console/avatar_background.jpg') no-repeat scroll left;
}

div.avatarSnapshot
{
	background-repeat: no-repeat;
	position: relative;
	z-index: 100;
	margin: 0px auto;
	margin-top: -20px;
	width: 128px;
	height: 256px;
}

div.petSnapshot
{
	background-repeat: no-repeat;
	display: none;
	position: relative;
	z-index: 999;
	margin: 0px auto;
	margin-top: -130px;
	width: 128px;
	height: 128px;
	left: 30px;
}

div.scallop-top
{
	min-height: 6px;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/console/scallop_top.png') repeat-x scroll;
}

div.scallop-bottom
{
	min-height: 6px;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/console/scallop_bottom.png') repeat-x scroll;
}

div.skillBlock
{
	width: 75px;
}

div.skillBackground
{
	position: relative;
	margin: 0px auto;
	width: 45px;
	height: 45px;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/console/skill/background.png') no-repeat scroll;
}

div.skillBackgroundFill
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom center;
}

img.skill
{
	position: absolute; 
}

img.levelStatusImg
{
	width: 84px;
	height: 84px;
}

div.levelIcon
{
	position: relative;
	margin: 0px auto;
	margin-bottom: 5px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

img.levelIconStatus
{
	position: absolute;
	left: 12px;
	top: 15px;
}

h5.levelText.next { color: #82D5E8; }
h5.levelText.past { color: #D6AEFE; }
h5.levelText.upcoming { color: #BDBDBD; }

div#loyalty-challenge
{
	margin-left: 50px;
}

div#loyalty-challenge li
{
	display: inline-block;
	width: 9px;
	height: 15px;
}

div#loyalty-challenge h3
{
	width: 170px;
}

div#loyalty-challenge hr
{
	width: 220px;
	margin: 5px auto;
}

div#loyalty-challenge div.loyalty-icon
{
	position: relative;
	text-align: center;
	min-width: 50px;
	margin-left: 5px;
}

div#loyalty-challenge img.loyalty-icon-status
{
	margin: 0px auto;
	position: absolute;
	top: 12px;
	right: 5px;
}

span#takePetBlock
{
	display: none;
}

div.console-going-ons img
{
	float: left;
	margin-right: 15px;
}

div.widget
{
	cursor: pointer;
}

div#widgetSpin
{
	 position: relative;
}

div#countdown
{
	position: absolute;
	width: 180px;
	height: 30px;
	top: 30%;
}

div#countdown-text
{
	width: 0%;
	height: 100%;
	margin: auto;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background-color: rgba(138, 198, 222, 0.75)
}

div.announcement {
	color: #626262;
	background-color: #FFFFEE;
	position: relative;
}

div.announcement .icon {
	position: absolute;
	top: 25px;
	left: 20px;
}

div.announcement .closewrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 75px;
	height: 75px; 
}

div.announcement .closebutton {
	position: absolute;
	top: 25px;
	right: 28px; 
}

.background-ribbon-new {
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/console/background_ribbon_new.png') no-repeat scroll right top;
}


/* BLOG */
div#blog-background {
	background-color: #E2F0F4;
	position: absolute;
	left: 0px;
	right: 313px;
	top: 84px;
	bottom: 0px;
	opacity: 0.92;
	filter: alpha(opacity=92);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.marquee
{
	line-height: 20px;
	padding: 6px 30px;
	overflow: hidden;
}
.marquee a { color: #6A6A6A; }

.marquee-title
{
	padding: 6px 30px;
	float: left;
	background-color: #d01877;
}

div#content-box-posts img
{
	border: 1px solid #fff;
	-moz-box-shadow: 	0 0 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	box-shadow: 		0 0 2px rgba(0,0,0,0.5);
}

div#teaser-box-posts-main img
{
	width: 400px;
}

div#teaser-box-posts-left,
div#teaser-box-posts-right
{
	width: 49%;
}

div#teaser-box-posts-left
{
	float: left;
	height: 100%;
}

div#teaser-box-posts-right
{
	float: right;
	height: 100%;
}

div.teaser-box-post-table
{
	display: table;
	width: 100%;
}

div.teaser-box-post-row
{
	display: table-row;
	width: 100%;
}

div.teaser-box-post-cell
{
	display: table-cell;
	width: 49.5%;
	height: 100%;
	border: 1px solid #f7f7f7;
	border-top: 1px solid #ebebeb;
}

div.teaser-box-post-cell:hover
{
	border: 1px solid #bdd984;
	background-color: #e7fbc6;
}

div.teaser-box-post-cell img
{
	float: left;
	margin: 0 20px 0px 0;
	width: 60px;
	height: 60px;
}

div.teaser-box-post-spacer
{
	display: table-cell;
	width: 1%;
	background-color: #fff;
}

.teaser-box-carousel-captions
{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 30px;
	color: #fff;
}

.teaser-box-carousel-caption
{
	float: right;
	margin-bottom: 5px;
	padding: 10px;
	text-align: right;
	background: #333333;
	background: rgba(0, 0, 0, 0.5);
}

.teaser-box-carousel-caption-header
{
	font-size: 20px;
	font-weight: bold;
}

.teaser-box-carousel-indicators
{
	display: inline-block;
	margin-top: 1px;
	width: 100%;
}

.teaser-box-carousel-indicator
{
	float: left;
	height: 20px;
	background-color: #a5c4d6;
}

.teaser-box-carousel-indicator:hover
{
	background-color: #94b509;
}

.teaser-box-carousel-indicators .active
{
	background-color: #94b509;
}

.teaser-box-carousel-indicator-spacer
{
	width: 1px;
	height: 20px;
	background-color: #fff;
	text-align: left;
}

img.border-stroke-shadow
{
	border: 1px solid #fff !important;
	-moz-box-shadow: 	0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 		0 0 3px rgba(0,0,0,0.5);
}

div.author-box
{
	padding: 20px;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	background-color: #f7f7f7;
}


/* PAGES */
div#info-background {
	background-color: #E2F0F4;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	opacity: 0.95;
	filter: alpha(opacity=95);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul#page-menu ul.children
{
	display: none;
	border-top: 1px solid #d4d4d4;
	font-size: 13px;
}

ul#page-menu ul.children li
{
	padding-left: 30px;
	padding-right: 11px;
	background: transparent url('/web/20201004223544im_/http://minimundos.com.br/img/sublink_arrow.png') no-repeat scroll 20px 7px;
}

ul#page-menu ul.children li:hover,
li.current_page_item
{
	background: transparent url('/web/20201004223544im_/http://minimundos.com.br/img/sublink_arrow_active.png') no-repeat scroll 20px 7px !important;
}

ul#page-menu ul.children li
{
	line-height: 24px;
}

ul#page-menu li.current_page_item > ul.children,
ul#page-menu li.current_page_ancestor > ul.children
{
	display: block;
}

ul#page-menu > li > a > span.page-menu-base-item
{
	display: block;
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	font-family: font-body;
	font-weight: bold;
	font-size: 18px;
	color: #036;
	background-color: #f7f7f7;
}

ul#page-menu > li > a > span.page-menu-base-item:hover
{
	color: #94b509;
	background-color: #e7fbc6;
}

ul#page-menu > li:last-child > a > span.page-menu-base-item
{
	border-bottom: 1px solid #d4d4d4;
}

ul#page-menu > li:last-child > ul.children
{
	border-top: none;
}

ul#page-menu > li.current_page_item > a > span.page-menu-base-item,
ul#page-menu > li.current_page_ancestor  > a > span.page-menu-base-item
{
	color: #94b509;
	background-color: #e7fbc6;
}

li.current_page_item > a > span.page-menu-base-item
{
	color: #94b509;
}

span.ico-collapse,
img.ico-collapse
{
	display: none;
}


/* INTRO PAGE (not-logged in) */

div#intro-header-video-link-area
{
	height: 500px;
}

div#intro-header-column
{
	position: relative;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/intro/header_animation.gif') no-repeat scroll center;
}

div#intro-header-container-sub
{
	max-width: 1000px;
}

div#intro-header-row-fluid-sub
{
	min-height: 530px;
}

span#intro-header-top-right
{
	position: absolute;
	top: 10px;
	right: 10%;
}

div#intro-under-header-row
{
	text-align: center;
}

div#intro-content-container
{
	max-width: 940px;
}

div#intro-pets-background
{
	background: #fff url('/web/20201004223544im_/http://minimundos.com.br/img/intro/pets_tokens.jpg') no-repeat scroll right bottom;
}

div#intro-pets-background-min-height
{
	min-height: 250px; padding-left: 20px;
}

div.intro-testimonial-text
{
	line-height: 25px;
	font-style: italic;
}

div.intro-testimonial-name
{
	color: #0d68b1;
	font-size: 18px;
	font-weight: bold;
	font-family: font-header, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.intro-testimonial-country
{
	color: #4a4947;
	font-size: 13px;
	font-weight: bold;
}

hr.intro-testimonial
{
	margin-top: 20px;
	width: 90%;
	height: 1px;
	border: 0;
	color: #b1dde0;
	background-color: #b1dde0;
}

p.sprite-button-join-now
{
	margin: 0 auto;
	position: relative;
	width: 335px;
	height: 276px;
}

img.sprite-button-join-now
{
	clip: rect(0 335px 86px 0);
}

img.sprite-button-join-now:hover
{
	top: -86px;
	clip: rect(86px 335px 172px 0);
}

img.sprite-button-join-now:active
{
	top: -172px;
	clip: rect(172px 335px 258px 0);
}

div.intro-globe
{
	height: 736px;
	background: #e1fdff url('/web/20201004223544im_/http://minimundos.com.br/img/intro/img_globe.jpg') no-repeat center center;
}

div.intro-globe-row
{
	width: 1000px;
}

div.intro-globe-cell-left
{
	float: left;
	margin-left: -25px;
	width: 240px;
	text-align: right;
}

div.intro-globe-cell-right
{
	float: right;
	width: 220px;
	text-align: left;
}

img.intro-globe-icon
{
	margin-bottom: 15px;
}

div.intro-globe-header
{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #0d68b1;
}

div#offer-header
{
	margin-top: 480px;
	font-size: 40px;
	color: #fff;
	font-family: font-header, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#offer-subheader
{
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: bold;
}

div.offer-text
{
	margin-bottom: 5px;
}

img.offer-bullet
{
	margin-right: 5px;
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/intro/sprite.png') no-repeat -92px -1px;
	width:17px; 
	height:13px;
}

a.green-button
{
	background: url('/web/20201004223544im_/http://minimundos.com.br/img/button.png') no-repeat;
	display: block;
	width: 182px;
	height: 65px;
}

a.green-button h1
{
	position: relative;
	top: 12px;
	text-decoration: none;
}

span#footer-button-see-more
{
	position: absolute;
	left: 58px;
	top: 32px;
	font-size: 20px;
	color: #fff;
	font-family: font-header, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* LANDING PAGE (advertising) */

div#landing-page-header,
div#landing-page-form-header
{
	min-height: 590px;
	border-bottom: 1px solid #ccc;
	background-color: #f7f8fd;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
}

div#landing-page-form-header
{
	min-height: 723px;
}

img#landing-page-logo
{
	margin-bottom: 30px;
}

div#landing-page-content
{
	max-width: 950px;
}

iframe#sign-up-form
{
	margin: 0px;
	border: 3px solid #12acd2;
	border-radius: 10px;
	width: 709px;
	height: 645px;
	float: right;
	background-color: #fff;
}

p.sprite-facebook-square
{
	margin: 0 auto;
	position: relative;
	width: 28px;
	height: 60px;
}

img.sprite-facebook-square
{
	clip: rect(0 28px 30px 0);
}

img.sprite-facebook-square:hover
{
	top: -30px;
	clip: rect(30px 28px 60px 0);
}


/* STAGING (MAINTENANCE) PAGE */

body#staging
{
	background: #f7f8fd url('/web/20201004223544im_/http://minimundos.com.br/files/bg_staging.jpg') no-repeat scroll center top;
}

div#not-found
{
	background: #f7f8fd url('/web/20201004223544im_/http://minimundos.com.br/img/bg_404.jpg') no-repeat scroll center top;
}

div.exception
{
	margin-top: 30px;
	height: 850px;
}

div.exception img#logo
{
	margin-bottom: 30px;
}

div.exception-content-box
{
	padding: 40px 15px;
	border: 1px solid #dbded7;
	border-radius: 5px;
	background-color: #fffeef;
}

div.exception li
{
	list-style-type: disc;
}

body#staging div#staging-footer
{
	padding: 30px 10px;
	margin-top: 400px;
	vertical-align: middle;
}


/* MEDIA QUERIES */

@media (min-width: 767px)
{
	div#landing-page-content div.in-world
	{
		max-width: 300px;
	}
}

@media (max-width: 766px)
{
	body
	{
		min-width: 0;
	}
	
	div#intro-header-video-link-area
	{
		height: 300px;
	}

	div#intro-pets-background
	{
		background: #fff none;
	}
	
	div#profile-background
	{
		display: none;
	}
	
	div#blog-background
	{
		right: 0px;
	}
	
	div#subheader
	{
		display: none;
	}
	
	div#profile-left-sidebar { top: 10px; }
	
	div#console div#profile-content
	{
		top: -101px;
	}
	
	div#console div#profile-enter-world
	{
		margin-left: 10px;
	}
	
	div#console .widget
	{
		margin-left: 10px;
		margin-bottom: 20px;
	}

	div.intro-globe
	{
		height: auto;
		background: #e1fdff none;
	}
	
	div.intro-globe-row 
	{
		width: 500px;
	}
}

@media (max-width: 1330px)
{
	div#profile-right-sidebar { display: none; }
}

@media (min-width: 767px) and (max-width: 1200px)
{
	div.intro-globe
	{
		height: 580px;
		background: #e1fdff url('/web/20201004223544im_/http://minimundos.com.br/img/intro/img_globe_small.jpg') no-repeat center center;
	}

	div.intro-globe-row 
	{
		margin: 30px auto;
		width: 950px;
	}
}
/*
     FILE ARCHIVED ON 22:35:44 Oct 04, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:59:30 Mar 28, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 570.158
  exclusion.robots: 0.202
  exclusion.robots.policy: 0.196
  cdx.remote: 0.059
  esindex: 0.01
  LoadShardBlock: 537.232 (3)
  PetaboxLoader3.datanode: 247.499 (5)
  CDXLines.iter: 14.971 (3)
  load_resource: 288.852 (2)
  PetaboxLoader3.resolve: 88.675 (2)
*/